body {
    background-color:black;
    color:white;
    font-family: Florence, cursive;
}

#yes .no em {
    color:yellow;
    background-color:purple;
}

#yes .no {
    font-size:30px;
}

.h1 em {
    color:red;
    background-color:pink;
    font-style:italic ;
    font-family:Times New Roman,Times,Serif;

}

#ge .ger em {
    color:yellow;
    background-color:purple;
    font-size:30px;
}

#gee .ger {
    font-size:30px;
}